body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #49c579 ;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: flex-end;
    background-color: #95c7a8;
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }

section {
    padding: 20px;
}

.cartItem {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #49c579 ;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
}

