/* styles.css */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #8ee459;
    color: #fff;
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-around;
}

main {
    padding: 20px;
}

.menu {
    max-width: 600px;
    margin: auto;
}

/* Dodajte stilove po potrebi */
